/* App.css 또는 custom.css 등 */
.react-calendar {
  border: none;
  font-family: 'Pretendard', sans-serif;
}

.react-calendar__tile {
  padding: 10px 6.6667px;
  background: none;
  border-radius: 10px;
}

.react-calendar__tile--active {
  background: #0077cc;
  color: white;
}

